body { padding-top: 40px; }
@media screen and (max-width: 768px) {
    body { padding-top: 0px; }
}

.page-header p {
    margin-top: 50px;
    margin-bottom: 10px;
    font-size: 28px;
    font-weight: 400;
    line-height: 30px
}

.register input[type="text"] {
    display: block;
    padding: 8px 10px;
    height: auto;
    width: 380px;
    margin: -6px 0 16px;
    font-size: 24px;
    line-height: 24px;
    font-weight: 300;
    font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
}

.singup input[type="text"] {
    display: block;
    height: auto;
    width: 150px;
    font-size: 8px;
}

.table th {
background-color: #f5f5f5
}