<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/admin.css" />
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/static.css" />
</head>
<body>
{% load humanize %}
{% load app_filters %}
{% block body %}
<div class="container">
<h2>100K Qualification Checker</h2>
<!-- <table class="table table-hover table-condensed">
<thead>
<tr>
	<th>League</th>
	<th>Operator</th>
	<th>Player</th>
	<th>Point</th>
	<th>Card No</th>
	
</tr>
</thead>
{% for player in players %}

<tr>
	<td>{{player.1}}</td>
		<td>{{player.0}}</td>

	<td>{{player.2}}</td>
	<td>{{player.3}}</td>
	<td>{{player.4}}</td>
</tr>
{% endfor %}
</table> -->

{% if not point %}
<form action="/22k/100k/" method="post">
{% csrf_token %}
<fieldset>
    <label>League Card Number</label>
    <input type="text" name="league_card">
    <label>League games played as a sub</label>
    <input type="text" name="subs" default="0">
    <label>22K events played</label>
    <input type="text" name="pc22k" default="0">
    
   
  </fieldset>
<label></label>
<br>
<button class="btn btn-large btn-primary" type="submit">Submit</button>
</form>


{% else %}
<h3>Qualification Point: {{ point }}</h3>
{% endif %}
</div>
{% endblock body %}
</body>
</html>