{% extends 'include/base.html' %}
{% block body %}
<div class="container">
    <div class="page-header">
        <h1>{{ entry.player.full_name }}</h1>
    </div>
    <!-- Body -->
    {% include "include/message.html" %}
    <form method="POST">
        {% csrf_token %}
        <legend>Card Copy - Scan a new card</legend>
        <table class="table">
            {{ form }}
        </table>
            <label></label>
            <button class="btn btn-large btn-primary" type="submit">Submit</button>
    </form>
</div>
{% endblock %}