{% extends 'include/base.html' %}
{% load humanize %}
{% block body %}
<div class="container">
    <div class="page-header">
        <p>REGISTRATION <span class="muted">> EVENT SIGNUP > PAYMENT</span></p>
    </div>
    
    <div class="hero-unit">
        <h2>Scan a card!</h2>
        <p></p>
            <form method="post">
                {% csrf_token %}
                <div class="register">
                    <input type="text" name="rfid_id" id="rfid_id" autocomplete="off" required>
                    <button class="btn btn-primary btn-large" type="submit">Submit</button>
                </div>
            </form>
    </div>
</div>
<script type="text/javascript">
 function FocusOnInput()
 {
    document.getElementById("rfid_id").focus();
 }
 FocusOnInput();
 </script>
{% endblock %}
