{% extends 'include/base.html' %}
{% load humanize %}
{% block body %}
<h3>REGISTRATION <span class="muted">> EVENT SIGNUP > PAYMENT</span></h3>
<div class="hero-unit">
    <h2>Scan a card!</h2>
    <p></p>
        <form method="post">
            {% csrf_token %}
            <div class="register">
                <input type="text" name="rfid_id" id="rfid_id" autocomplete="off" required>
                <button class="btn btn-primary btn-large" type="submit">Submit</button>
            </div>
        </form>
</div>
<script type="text/javascript">
 function FocusOnInput()
 {
    document.getElementById("rfid_id").focus();
 }
 FocusOnInput();
 </script>
{% endblock %}
