{% extends 'include/base.html' %}
{% load humanize %}
{% load app_filters %}
{% block body %}
<div class="container">
<div class="page-header"><p>{{ tournament.title }} - Entry
<span class="label label-info pull-right">TOTAL : {{ entry.count }}</span></P>
</div>
    <div class="row">
        
        <div>
            <!--div class="page-header">
            <span class="label label-info">TOTAL: {{ entry_total|intcomma }}</span>
            </div-->


        {% if messages %}
        <div class="alert alert-error alert-block">
            <h4>Oops!</h4>
            {% for message in messages %}
                {{ message }}<br>
            {% endfor %}
        </div>
        {% endif %}
            {% if entry %}
                <table class="table table-condensed table-hover">
                    <thead>
                        <tr>
                            <th style="vertical-align: middle" rowspan="2">#</th>
                            <th style="vertical-align: middle" rowspan="2"></th>
                            <th style="vertical-align: middle" rowspan="2">Name</th>
                            <th style="vertical-align: middle" rowspan="2"></th>
                            <th style="vertical-align: middle" rowspan="2">Card</th>
<!--                             <th>Stat: <span class="label">CA</span> / <span class="label label-important">TN</span></th>
-->                         <th colspan="2" style="text-align: center"><span class="label">CA</span></th>
                            <!-- <th>PPD <span class="label">CA</span></th> -->
                            <th colspan="2" style="text-align: center"><span class="label label-important">TN</span></th>
<!--                             <th>PPD <span class="label label-important">TN</span></th>
-->                         <th rowspan="2" style="vertical-align:middle; text-align: right">Balance</th>
                            <th rowspan="2"></th>
                        </tr>
                        <tr rowspan="10">
                            <!-- <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th> -->
                            <td style="text-align: right">MPR</td>
                            <td style="text-align: right">PPD</td>
                            <td style="text-align: right">MPR</td>
                            <td style="text-align: right">PPD</td>
                            <!-- <th></th> -->
                            <!-- <th></th> -->
                        </tr>
                    </thead>
                    <tbody>
                {% for e in entry %}
                    <tr {% if e.balance > 0 %} class="error" {% elif e.balance < 0 %} class="info" {% endif %}>
                        <td class="muted">{{ forloop.counter }}</td>
                        <td>
                        {%if not e.player.is_profile_valid %}
                            <span class="label label-warning">info</span>
                        {% endif %}
                        {% if not e.player.card_number %}
                            <span class="label label-important">card</span>
                        {% endif %}
                        </td>
                        <td><a href="{% url 22k:profile e.player.id %}">{{ e.player.full_name|title }}</a></td>
                        <td>{{ e.player.gender }}</td>
                        <!--td>{{ e.player.card_number|format_card_number }}</td-->
                        <td><span class="muted">{{e.player.rfid}}</span></td>
                        <td style="text-align: right">{{ e.mpr_rank }}</td>
                        <td style="text-align: right">{{ e.ppd_rank }}</td>
                        <td style="text-align: right">{{ e.mpr_event }}</td>
                        <td style="text-align: right">{{ e.ppd_event }}</td>
                        <td style="text-align: right">{{ e.balance|currency }}</td>
                        <td>
                            <div class="btn-group pull-right">
                                {% if e.balance > 0 %}
                                <a href="{% url 22k:payment tournament.id e.player.rfid %}" class="btn btn-mini"><i class="icon-shopping-cart"></i> $$</a>
                                {% endif %}
                                <a href="{% url 22k:del_entry tournament.id e.id %}" class="btn btn-mini"><i class="icon-remove"></i> Withdraw</a>
                                <a href="{% url 22k:entry_edit tournament.id e.id %}" class="btn btn-mini"><i class="icon-remove"></i> Edit</a>
                            </div>
                        </td>
                        <!-- <td>
                        {% if e.balance > 0 %}
                            <div class="btn-group pull-right">
                            <a href="{% url 22k:payment tournament.id e.player.rfid %}" class="btn btn-mini"><i class="icon-shopping-cart"></i> Collect</a>
                            </div>
                        {% endif %}
                            <div class="btn-group pull-right">
                                <a href="#" class="btn btn-mini"><i class="icon-envelope"></i> SMS</a>
                            </div>
                        </td>-->
                    </tr>
                {% endfor %}
                    </tbody>
                </table>
            {% endif %}
        </div>
    </div>
</div>
{% endblock body %}