{% extends 'include/base.html' %}
{% load humanize %}
{% load app_filters %}
{% block body %}
<div class="container">
    <div class="page-header">
        <p>{{ event.title }} - Signup</p>
    </div>
    <ul class="thumbnails">
        <li class="span3">
            <div class="thumbnail" style="text-align: center">
            <h3>{{ event.start_at|date:"l"|upper }}</h3>
            <p class="lead">{{ event.start_at|timeuntil }}</p>
            </div>
        </li>
        <li class="span3">
            <div class="thumbnail" style="text-align: center">
              <h3>{{ event.get_game_display|upper }}</h3>
              <p class="lead">{{ event.get_format_display|upper }}</p>
            </div>
        </li>
        <li class="span3">
            <div class="thumbnail" style="text-align: center">
              <h3>{{ event.get_division_display|upper }}</h3>
              <p class="lead">{{ event.get_draw_display|upper }}</p>
            </div>
        </li>
        <li class="span3">
            <div class="thumbnail" style="text-align: center; vertical-align: middle">
              <h1 style="color: royalblue;">{{ total_signup }}</h1>
              <p class="lead">&nbsp;</p>
            </div>
        </li>
    </ul>
</div>
{% endblock body %}
