{% extends 'include/base.html' %}
{% load humanize %}
{% load app_filters %}
{% block body %}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/admin.css" />
<div class="lead">{{ event.start_at|date:"D"|upper }} / {{ event.title }} / {{ event.get_division_display }} - Singups</div>
<hr>
<div class="row">
    <div class="span3">
        {% include 'include/left_menu.html' %}
    </div>
    <div class="span9">
        {% if cards %}
        <div class="alert alert-error">
            {% for card in cards %}{{ card }} {% endfor %}</div>
        {% else %}
        <div class="alert alert-info"><i class="icon-tags"></i> Scan card to signup</div>
        {% endif %}
        <form method="post" class="form-inline">
            {% csrf_token %}
            {% if event.draw == 'L' or event.format == 'S' %}
            <label>Card</label>
            <input class="span2" type="text" name="card1" required>
            {% elif event.draw != 'L' and event.format == 'D' %}
            <label>Card 1</label>
            <input class="span2" type="text" name="card1" required>
            <label>Card 2</label>
            <input class="span2" type="text" name="card2" required>
            {% elif event.draw != 'L' and event.format == 'T' %}
            <label>Card 1</label>
            <input class="span2" type="text" name="card1" required>
            <label>Card 2</label>
            <input class="span2" type="text" name="card2" required>
            <label>Card 3</label>
            <input class="span2" type="text" name="card3" required>
            {% endif %}
            <button class="btn btn-primary" type="submit">Submit</button>
        </form>
        <hr>
        {% if teams %}
            <div class="lead pull-right">Total: {{ teams.count|intcomma }}</div>
            <table class="table table-condensed  table-hover">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Team</th>
                        <th>Players</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
            {% for team in teams %}
                <tr>
                    <td class="muted">{{ forloop.counter }}</td>
                    <td>
                        {{ team.name }}
                    </td>
                    <td>
                        {{ team|players_in_team }}
                    </td>
                    <td>
                        <div class="btn-group pull-right">
                            <a href="#" class="btn btn-mini"><i class="icon-envelope"></i> SMS</a>
                        </div>
                    </td>
                </tr>
            {% endfor %}
                </tbody>
            </table>
        {% endif %}
    </div>
</div>
{% endblock body %}