{% extends 'include/base.html' %}
{% load humanize %}
{% load app_filters %}
{% block body %}
<div class="container">
    <div class="page-header">
        <p>{{ event.start_at|date:"D"|upper }} / {{ event.title }} / {{ event.get_division_display }} - Signup</p>
    </div>
    <div class="row">
        <div class="span3">
            {% include 'include/left_menu.html' %}
        </div>
        <div class="span9">
            <div class="well">
                {% if error_msg %}
                <div class="alert alert-error"><i class="icon-exclamation-sign"></i> {{ error_msg }}</div>
                {% elif success_msg %}
                <div class="alert alert-success"><i class="icon-ok"></i> {{ success_msg }}</div>
                {% else %}
                <div class="alert alert-info"><i class="icon-tags"></i> Scan cards to signup</div>
                {% endif %}
                <form method="post" class="form-horizontal">
                    {% csrf_token %}
                    {% if event.draw == 'L' or event.format == 'S' %}
                    <div class="control-group">
                        <label class="control-label">Card</label>
                        <div class="controls">
                            <input type="text" name="card1" required>
                        </div>
                    </div>
                    {% elif event.draw != 'L' and event.format == 'D' %}
                    <div class="control-group">
                        <label class="control-label">Card 1</label>
                        <div class="controls">
                            <input type="text" name="card1" required>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">Card 2</label>
                        <div class="controls">
                            <input type="text" name="card2" required>
                        </div>
                    </div>
                    {% elif event.draw != 'L' and event.format == 'T' %}
                    <div class="control-group">
                        <label class="control-label">Team Name</label>
                        <div class="controls">
                            <input class="span2" type="text" name="teamname" required>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">Card 1</label>
                        <div class="controls">
                            <input class="span2" type="text" name="card1" required>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">Card 2</label>
                        <div class="controls">
                            <input class="span2" type="text" name="card2" required>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">Card 3</label>
                        <div class="controls">
                            <input class="span2" type="text" name="card3" required>
                        </div>
                    </div>
                    {% endif %}
                    <div class="control-group">
                        <div class="controls">
                            <button class="btn btn-primary" type="submit">Submit</button>
                        </div>
                    </div>
                </form>
            </div>
            <hr>
            {% if teams %}
                <span class="label label-info pull-right">TOTAL : {{ teams.count }}</span>
                <table class="table table-condensed">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Team</th>
                            <th>Players</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                {% for team in teams %}
                    <tr>
                        <td class="muted">{{ forloop.counter }}</td>
                        <td>
                            {{ team.name }}
                        </td>
                        <td>
                            {{ team|players_in_team }}
                        </td>
                        <td>
                            <div class="btn-group pull-right">
                                <a href="#" class="btn btn-mini"><i class="icon-envelope"></i> SMS</a>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
                    </tbody>
                </table>
            {% endif %}
        </div>
    </div>
</div>
{% endblock body %}