{% extends 'include/base.html' %}
{% load url from future %}
{% load humanize %}

{% block body %}
<h3>Dashboard</h3>
<hr>
<a href="#" class="btn btn-success">
    <i class="icon-plus icon-white"></i> Create a new tournament</a>
<hr>
<h4>Tournaments</h4>
<table class="table table-striped">
        <thead>
            <tr>
                <th width="20%">Event</th>
                <th width="1%">Tickets sold</th>
                <th width="1%">Sales</th>
                <th width="10%">&nbsp;</th>
            </tr>
        </thead>
        <tbody>

                <tr>
                    <td>
                        <b><a href="/organizer/event-dashboard/158/">Phoniex Cup 22K in Tampa, FL</a></b>

                    </td>
                    <td class="progressbar">

                            <div class="progress"></div>
                            <span class="minor">

                                    500 remaining

                            </span>

                    </td>
                    <td class="nowrap figures">
                        —
                    </td>
                    <td class="nowrap">
                        <div class="btn-group pull-right">
                            <a href="/organizer/event-dashboard/158/bookings/" class="btn btn-mini"><i class="icon-book"></i> Bookings</a>
                            <a href="/organizer/event-dashboard/158/" class="btn btn-mini"><i class="icon-wrench"></i> Event setup</a>
                            <a href="/158/phoniex-cup-22k-in-tampa-fl/" class="btn btn-mini" target="_blank"><i class="icon-eye-open"></i> Booking page</a>
                        </div>
                    </td>
                </tr>

        </tbody>
    </table>
{% endblock %}