{% load url from future %}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}/bootstrap/css/bootstrap.css" />

<div class="navbar navbar-inverse">
    <div class="navbar-inner">
        <a class="brand">Phoenix Cup 22K Admin</a>
    </div>
</div>
<div class="container-fluid">
    <div class="row-fluid">
        <div class="span2">
            <!-- Sidebar -->
            <ul class="nav nav-list">
                <li class="nav-header">Tournament Entry</li>
                <li class="active"><a href="/22k/1/entry">Lansdale, PA</a></li>
                <li>Pittsburg, PA</li>
                <li class="nav-header">Player</li>
            </ul>
        </div>
        <div class="span10">