{% extends 'include/base.html' %}
{% load humanize %}
{% block body %}
<div class="container">
    <div class="page-header">
        <p><span class="muted">REGISTRATION > EVENT SIGNUP ></span> PAYMENT</p>
    </div>
	<div class="hero-unit">
	    <p><h2>{{ tournament.title }}</h2></p>
        {% if entry %}
        <p class="alert alert-info lead">{{ entry.player.full_name|title }}<br>Collect amount due and click sbumit!</p>
	    <h1><span class="lead">Amount Due:</span> ${{ entry.balance }}</h1>
	    <p>&nbsp;</p>
	    <p>
	        <form method="post">
	            {% csrf_token %}
	            <button class="btn btn-primary btn-large" type="submit">Submit</button>
	        </form>
    	</p>
        {% else %}
        <p><div class="alert alert-info"><i class="icon-tags"></i> Scan a card to collect payment.</div></p>
            <form method="post">
                {% csrf_token %}
                <div class="register">
                    <input type="text" name="rfid_id" id="rfid_id" autocomplete="off" required>
                    <label></label>
                    <button class="btn btn-primary btn-large" type="submit">Submit</button>
                </div>
            </form>
        {% endif %}
	</div>
</div>
{% endblock %}