{% extends 'include/base.html' %}
{% load humanize %}
{% block body %}
<div class="container">
    <div class="page-header">
        <p><span class="muted">REGISTRATION > EVENT SIGNUP ></span> PAYMENT</p>
    </div>
	<div class="hero-unit">
	    <p class="alert alert-info lead">Collect amount due and click sbumit!</p>
	    <h1><span class="lead">Amount Due:</span> ${{ entry.balance }}</h1>
	    <p>&nbsp;</p>
	    <p>
	        <form method="post">
	            {% csrf_token %}
	            <button class="btn btn-primary btn-large" type="submit">Submit</button>
	        </form>
	</p>
	</div>
</div>
{% endblock %}