{% extends 'include/base.html' %}
{% block body %}            <!-- Body -->
            <div class="page-header">
                <h3>{{ player.full_name }}  <small>( {{ player.userid }} ) <a href="{% url 22k:profile_edit player.id %}"><i class="icon-edit"></i> Edit</a></small></h3>
            </div>

            <div class="span4">
                        <h4 class="muted">Basic Info</h4>
                        <table class="table table-condensed">
                            <thead>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="muted">Name</td>
                                    <td>{{ player.full_name }}</td>
                                </tr>
                                <tr>
                                    <td class="muted">Gender</td>
                                    <td>{{ player.gender }}</td>
                                </tr>
                                 <tr>
                                    <td class="muted">Card</td>
                                    <td>{{ player.card_number }}
                                        {% if not player.is_web_member %}
                                        <i class="icon-exclamation-sign"></i>
                                        {% else %}
                                        <i class="icon-ok-sign"></i>
                                        {% endif %}
                                        <small style="color:white">{{ player.rfid }}</small>
                                        <table class="table table-condensed">
                                            <thead class="muted">
                                                <th></th>
                                                <th>MPR</th>
                                                <th>PPD</th>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td><span class="label label-important">tourney</span></td>
                                                    <td><span class="badge badge-important">{{ mpr_event }}</span></td>
                                                    <td><span class="badge badge-important">{{ ppd_event }}</span></td>
                                                </tr>
                                                <tr>
                                                    <td><span class="label label-info">ranking</span></td>
                                                    <td><span class="badge badge-info">{{ mpr_ranking }}</span></td>
                                                    <td><span class="badge badge-info">{{ ppd_ranking }}</span></td>
                                                </tr>
                                                <tr>
                                                    <td><span class="label">casual</span></td>
                                                    <td><span class="badge">{{ mpr_casual }}</span></td>
                                                    <td><span class="badge">{{ ppd_casual }}</span></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <h4 class="muted">Contact Info</h4>
                        <table class="table table-condensed">
                            <tr>
                                <td class="muted">Phone</td>
                                <td>{{ player.phone_number }}</td>
                            </tr>
                            <tr>
                                <td class="muted">Email</td>
                                <td>{{ player.email }}</td>
                            </tr>
                            <tr>
                                <td class="muted">Address</td>
                                <td>
                                    <address>
                                    {{ player.street_line1}}<br>
                                    {{ player.city }}, {{ player.state}} {{ player.zipcode }}
                                    </address>
                                </td>
                            </tr>
                        </table>
                    </div>

{% endblock %}