{% load app_filters %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}bootstrap/css/bootstrap.min.css" />
<!--     <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/admin.css" />
 -->    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/refree.css" />
<style>
.table th, .table td { border-top: none; }
</style>
</head>

<body style="background-color:black; color: white">
<div class="container">

        <h3>Signup Directory</h3>

        <span class="pull-right">Total: {{ teams.count }}</span>
        <table class="table table-condensed">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Name</th>
                    <!-- <th></th> -->
                </tr>
            </thead>
            <tbody>
        {% for t in teams %}
            <tr>
                <td class="muted">{{ forloop.counter }}</td>
                <td>{{ t.name }}</td>
                <!-- <td class="muted">{{ e.player.gender }}</td> -->
            </tr>
        {% endfor %}
            </tbody>
        </table>
</div>
</body>
</htML>