{% load app_filters %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}bootstrap/css/bootstrap.min.css" />
<!--     <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/admin.css" />
 -->    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/refree.css" />
<style>
.table th, .table td { border-top: none; }
</style>
<META HTTP-EQUIV="CACHE-CONTROL" CONTENT="NO-CACHE">
<script>
function autoRefresh(refreshPeriod) {
    setTimeout("window.location.reload();",refreshPeriod);
}
</script>
</head>


<body style="background-color:black; color: white" onload="autoRefresh(10000);">
<div class="container">

        <h3> SIGN UP LIST: {{ event.title }}</h3>

        <span class="pull-right">Total: {{ teams.count }}</span>
        <div class="grid_8 alpha">
            <table class="table table-condensed">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Name</th>
                        <!-- <th></th> -->
                    </tr>
                </thead>
                <tbody>
            {% for t in teams_1 %}
                <tr>
                    <td class="muted">{{ forloop.counter }}</td>
                    <td>{{ t.player.full_name }}</td>
                    <!-- <td class="muted">{{ e.player.gender }}</td> -->
                </tr>
            {% endfor %}
                </tbody>
            </table>
        </div>
         <div class="grid_8 omega">
            <table class="table table-condensed">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Name</th>
                        <!-- <th></th> -->
                    </tr>
                </thead>
                <tbody>
            {% for t in teams_2 %}
                <tr>
                    <td class="muted">{{ forloop.counter }}</td>
                    <td>{{ t.player.full_name }}</td>
                    <!-- <td class="muted">{{ e.player.gender }}</td> -->
                </tr>
            {% endfor %}
                </tbody>
            </table>
        </div>
</div>
</body>
</htML>