{% extends 'include/base.html' %}
{% load humanize %}
{% load app_filters %}
{% block body %}
<div class="container">
<h2>Stat Monitor</h2>
<table class="table table-hover table-condensed">
<thead>
<tr>
	<th>Player</th>
	<th style="text-align:right">Tournament</th>

	<th style="text-align:right">Casual</th>
	<th style="text-align:right">+/-</th>
	<th style="text-align:right">Game Count</th>
</tr>
</thead>
{% for game in games %}

<tr>
	<td><a href="{% url 22k:game_result game.0 %}" target="_blank">{{game.1}}</a></td>
	<td style="text-align:right">{{game.2}}</td>
	<td style="text-align:right">{{game.3}}</td>
	<td style="text-align:right">{{game.4}}</td>
	<td style="text-align:right">{{game.5}}</td>

</tr>
{% endfor %}
</table>
</div>
{% endblock body %}