{% extends 'include/base.html' %}
{% load humanize %}
{% load app_filters %}
{% block body %}
<div class="container">
<div class="page-header"><p>{{ tournament.title }} - Overview
      <a class="btn btn-primary pull-right" href="{% url 22k:card tournament.id%}"><i class="icon-user icon-white"></i> Register</a>
  </P>
</div>
    <div class="row">
        <div>
            <table class="table table-hover">
                <thead>
                    <tr style="font-size: 18px">
                        <th>Event ID</th>
                        <th></th>
                        <th>Event</th>
                        <th>Division</th>
                        <!-- <th>Format</th> -->
                        <!-- <th>Game</th> -->
                        <th><div class="text-right">No<small>(Team/Player)</small></div></th>
                        <th>&nbsp;</th>
                    </tr>
                </thead>
                <tbody>
                {% for event in events %}
                <tr>
                    <td>{{ event.id }}</td>
                    <td>{{ event.start_at|date:"D h:i a" }}<span class="minor">{{ event.start_at|timeuntil }}</span></td>
                    <td style="font-size: 18px"><a href="{% url 22k:event_signup event.id %}">{{ event.title }}</a></td>
                    <td style="font-size: 18px">{{ event.get_division_display }}</td>
                    <!-- <td>{{ event.get_format_display }}</td> -->
                    <!-- <td>{{ event.get_game_display }}</td> -->
                    <td style="font-size: 18px"><div class="text-right">{{ event|num_teams }} / {{ event|num_players }}</div></td>
                    <td class="nowrap">
                        <div class="btn-group pull-right">
                            <a href="{% url 22k:event_signup event.id %}" class="btn btn-mini"><i class="icon-plus"></i> Signup</a>
                            <!--a href="{% url 22k:event_edit event.id %}" class="btn btn-mini"><i class="icon-wrench"></i></a-->
                        </div>
                    </td>
                </tr>
                {% endfor %}
        </div>
    </div>
</div>
{% endblock %}