<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/admin.css" />
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/static.css" />
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-inner">
            <a href="{% url 22k:index %}" class="brand">Phoenix Cup 22K Admin</a>
            <p class="navbar-text pull-right">{% now "m-d-Y H:i" %}</p>
            <!-- <div class="container"> -->
                <div class="nav-collapse collapse">
                    <ul class="nav">
                      <li>
                      </li>
                    </ul>
                </div>
            <!-- </div> -->
        </div>
    </div>
    <header></header>
    {% block body %}
    {% endblock %}

    <script src="{{ STATIC_URL }}/js/jquery-1.10.1.js"></script>
    <script src="{{ STATIC_URL }}bootstrap/js/bootstrap.js"></script>
    <script>
    $(function () {
        $("[rel='tooltip']").tooltip();
    });
    </script>
</body>
</html>