<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/admin.css" />
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/static.css" />
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-inner">
            <a href="{% url 22k:index %}" class="brand" style="margin-left: 5px">Phoenix Cup 22K Admin</a>
            <div class="container">
                <ul class="nav nav-pills">
                    <li><a href="{% url 22k:card request.session.tournament_id %}"><i class="icon icon-white icon-tags"></i> Register</a></li>
                    <li><a href="{% url 22k:entry  request.session.tournament_id%}"><i class="icon icon-white icon-user"></i> Entry</a></li>
                    <li><a href="{% url 22k:tourney_dashboard  request.session.tournament_id%}"><i class="icon icon-white icon-list-alt"></i> Event</a></li>
                    <li><a href="{% url 22k:payment request.session.tournament_id %}" rel="tooltip" data-original-title="Collect Payment">
                    <i class="icon icon-white icon-shopping-cart"></i> Payment</a></li>
                    <li><a href="{% url 22k:league_stat %}" rel="tooltip" data-original-title="Check league stat">
                    <i class="icon icon-white icon-tag"></i> League</a></li>
                    <li><a href="https://docs.google.com/a/dartoo.com/spreadsheet/ccc?key=0AuSjK_NxR5d8dFE0ZHlWTk1ZdWw5UTNJTnpBZDdhWmc#gid=2" rel="tooltip" data-original-title="Pre-registers" target="_blank">
                    <i class="icon icon-white icon-barcode"></i> Prer-registers</a></li>
                        <!-- <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Dropdown<b class="caret"></b></a>
                        <ul class="dropdown-menu"><li><a href="#">item 1</a></li></ul> -->
                    </li>
                </ul>
            </div>
            <div>{{ request.session.tournament_title }}</div>
        </div>
    </div>
    <header></header>
    {% block body %}
    {% endblock %}

    <script src="{{ STATIC_URL }}/js/jquery-1.10.1.js"></script>
    <script src="{{ STATIC_URL }}bootstrap/js/bootstrap.js"></script>
    <script>
    $(function () {
        $("[rel='tooltip']").tooltip();
    });
    </script>
</body>
</html>