<!--a href="/22k" class="btn btn-info "><i class="icon icon-chevron-left icon-white"></i> Back to Dashboard</a>
    <hr-->
    <ul class="nav nav-list well">
        <li class="nav-header">Tournament</li>
        <li>
            <a href="{% url 22k:tourney_dashboard tournament.id %}" rel="tooltip" data-original-title="Tournament Dashboard">
                <i class="icon-star"></i> Overview</a>
        </li>
        <li>
            <a href="{% url 22k:entry tournament.id %}" rel="tooltip" data-original-title="List Registred Players">
                <i class="icon-book"></i> Entry</a>
        </li>
    </ul>