{% for message in messages %}
    {% if 'success' in message.tags %}

        <div class="alert alert-success lead">
            <a class="close" href="#" data-dismiss="alert">×</a>
            <!-- <strong>Success!</strong> -->
                {{ message|safe }}
        </div>
    {% endif %}
{% endfor %}

{% for message in messages %}
    {% if 'error' in message.tags %}
        <div class="alert alert-error lead">
            <a class="close" href="#" data-dismiss="alert">×</a>
            <strong>Error: </strong>
                {{ message|safe }}

        </div>
    {% endif %}
{% endfor %}
{% for message in messages %}
    {% if 'info' in message.tags %}
        <div class="alert alert-info lead">
            <a class="close" href="#" data-dismiss="alert">×</a>
            <!-- <strong>INFO!</strong> -->
                {{ message|safe }}

        </div>
    {% endif %}
{% endfor %}